.navbar {
  box-shadow: inset 0px -5px 10px 0px #212529;
}

.navbar-brand {
  color: #333;
}

a {
  color: #aaa;
  font-weight: 200;
}
.nav-link {
  font-size: 3rem;
}
.navbar-toggler-icon {
  width: 110px;
  margin: 3px 2px;
  height: 96px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 520px) {
  .nav-link {
    font-size: 2rem;
  }
}